$color-text: #28282D;
$color-primary: #DE443A;
$color-bg-light: #ffffff;
$color-border: rgba(40, 40, 45, 0.40);

$primary-font: 'Ubuntu', sans-serif;
$second-font: 'Fira Sans', sans-serif;

body {
    padding: 0;
    margin: 0;
    font-family: $primary_font;
    font-size: 16px;

    &.popup-opened {
        overflow: hidden;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

svg {
    pointer-events: none;
}

a {
    &:hover {
        color: #408C7F;
    }
}

a,
button {
    transition-duration: 0.2s;
    transition-property: background-color, color, border-color, box-shadow, opacity, linear-gradient;
    transition-timing-function: ease-in-out;

    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.square-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f2f2f2;
    transition: 0.3s background-color;


    @media (hover: hover) {
        &:hover {
            background-color: #408C7F;
        }
    }

    &:active {
        background-color: #408C7F;
    }
}

.primary-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;

    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        background-image: linear-gradient(to left, #5cc17d, #469a9e);
        transition: opacity 0.5s linear;
    }

    &:before {
        opacity: 1;
    }

    @media (hover: hover) {
        &:hover {
            color: #fff;

            &:after {
                opacity: 1;
                background-image: linear-gradient(to left, #408C7F, #408C7F);
            }
        }
    }

    &:active {
        color: #fff;

        &:after {
            opacity: 1;
            background-image: linear-gradient(to left, #408C7F, #408C7F);
        }
    }

}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}


.viewed {
    .from-left {
        animation: from-left 1s ease-out forwards;
    }

    .from-right {
        animation: from-right 1s ease-out forwards;
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    width: 100%;
    max-width: 1680px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1600px) {
        max-width: 1440px;
    }

    @media screen and (max-width: 1440px) {
        max-width: 1280px;
    }

    @media screen and (max-width: 1280px) {
        max-width: 1140px;
    }

    @media screen and (max-width: 1140px) {
        max-width: 960px;
    }

    @media screen and (max-width: 991px) {
        max-width: 768px;
    }

    @media screen and (max-width: 768px) {
        max-width: 540px;
    }

    @media screen and (max-width: 576px) {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

textarea,
input[type="date"],
input[type="text"] {
    font-family: $primary_font;
    padding: 1px 16px;
    background: white;
    border: 1px solid #858C94;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    display: flex;
    color: #7A7771C4;
    padding: 4px 16px;

    &.not-valid {
        border: 1px solid $color-primary;
    }

    &:focus {
        outline: none;
    }
}
