html {
    position: relative;
    min-height: 100%;

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}


.my_overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #16181D;
    opacity: 0.9;
    cursor: pointer;
    display: block;
}

.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;

    .popup-wrapper {
        position: relative;
        width: 860px;
        padding: 32px;
        margin: 70px auto 50px;
        position: relative;
        z-index: 2;
        background: #fff;
    }


    .wpcf7-not-valid-tip {
        text-align: left;
    }

    @media screen and (max-width: 768px) {
        .popup-wrapper {
            margin-top: 40px;
            width: 90% !important;
            padding: 45px 20px;

            @media screen and (max-width: 470px) {
                width: calc(100% - 20px) !important;
                padding: 70px 20px;
            }
        }
    }

    button.popup-close {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: none;
        border: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -40px;
        right: -40px;
        padding: 0;
        z-index: 10;
        opacity: 0.9;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            width: 20px;
            height: 20px;
            background-size: 15px auto;
            right: 10px;
            top: 10px;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }
    }
}

div.wpcf7 .ajax-loader {
    position: absolute;
    right: 0;
}
