h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary_font;
	font-weight: 700;
	line-height: 1.3;
}

h1,
h2 {
	font-size: 42px;
}

h1 {
	@media screen and (max-width: 991px) {
		font-size: 34px;
	}
	@media screen and (max-width: 470px) {
		font-size: 30px;
	}
}

h3 {
	font-size: 24px;
}

p {
	font-size: 20px;
	font-family: $primary_font;

	@media screen and (max-width: 991px) {
		font-size: 18px;
	}
}

a,
button,
span {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
