.about-us {
	padding: 64px 0;
	background-color: #eef7f5;

	@media screen and (max-width: 991px) {
		padding: 32px 0;
	}

	&__inner-container {
		display: flex;
		align-items: center;
		gap: 188px;

		@media screen and (max-width: 1580px) {
			gap: 60px;
		}

		@media screen and (max-width: 1280px) {
			flex-direction: column;
			gap: 32px;
		}
	}

	&__image {
		width: 100%;
		max-width: 811px;
		border-radius: 8px;
		overflow: hidden;

		@media screen and (max-width: 1280px) {
			max-width: unset;
		}
	}

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 680px;
		align-self: flex-end;

		@media screen and (max-width: 1280px) {
			max-width: unset;
		}
	}

	&__title {
		margin-bottom: 64px;

		@media screen and (max-width: 1280px) {
			display: none;
		}

		&.mob {
			display: none;
			margin-bottom: 0;

			@media screen and (max-width: 1280px) {
				display: block;
			}
		}
	}

	&__content {
		font-family: $second-font;
		font-size: 16px;
		line-height: 1.4;
		color: #2f2f2f;
		margin-bottom: 64px;

		@media screen and (max-width: 991px) {
			margin-bottom: 32px;
		}

		p:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__buttons-wrapper {
		margin-top: auto;
		display: flex;
		gap: 24px;

		@media screen and (max-width: 991px) {
			flex-direction: column;
			gap: 8px;
		}
	}
}
