.advantages {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding-top: 127px;
	padding-bottom: 192px;
	position: relative;

	@media screen and (max-width: 1200px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	&__bg-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;

		@media screen and (max-width: 1200px) {
			display: none;
		}

		&.mob {
			position: relative;
			height: auto;
			display: none;
			width: 100%;

			@media screen and (max-width: 1200px) {
				display: block;
			}
		}
	}

	&__container {
		@media screen and (max-width: 1200px) {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	&__inner-container {
		max-width: 590px;
		width: 100%;
		margin-left: auto;

		@media screen and (max-width: 1200px) {
			max-width: 100%;
			margin-left: 0;
		}
	}

	&__title {
		margin-bottom: 64px;
		max-width: 500px;

		@media screen and (max-width: 1200px) {
			max-width: 100%;
		}

		@media screen and (max-width: 670px) {
			margin-bottom: 32px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 48px;

		@media screen and (max-width: 670px) {
			gap: 24px;
		}
	}

	&__list-item {
		display: flex;
		gap: 27px;

		@media screen and (max-width: 670px) {
			gap: 16px;
		}
	}

	&__list-item-number {
		flex-shrink: 0;
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: solid 1px #b9b9b9;

		font-family: $primary-font;
		font-size: 32px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -1px;
		color: #727272;

		@media screen and (max-width: 670px) {
			font-size: 20px;
			width: 48px;
			height: 48px;
		}
	}

	&__list-item-inner {
		display: flex;
		flex-direction: column;
		gap: 16px;

		@media screen and (max-width: 670px) {
			gap: 8px;
		}
	}

	&__list-item-title {
		font-family: $primary-font;
		font-size: 32px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -1px;
		color: #2f2f2f;

		@media screen and (max-width: 670px) {
			font-size: 20px;
		}
	}

	&__list-item-text {
		font-family: $primary-font;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: -1px;
		color: #b9b9b9;
	}
}
