.block-content {
	padding: 64px 0;

	@media screen and (max-width: 991px) {
		padding: 32px 0;
	}

	img,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 32px;
	}

	h4 {
		margin-bottom: 16px;
	}

	p {
		font-family: $second-font;
		font-size: 16px;
		line-height: 1.4;
		color: #2f2f2f;
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	b,
	strong {
		font-weight: 700;
	}

	ol,
	ul {
		padding-left: 20px;
		font-size: 16px;
		line-height: 1.4;
		color: #2f2f2f;
		margin-bottom: 32px;
	}

	* {
		color: #2f2f2f;
	}
}
