.solutions-card {
	&__post-item {
		display: flex;
		flex-direction: column;
	}

	&__post-thumb {
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 32px;

		@media screen and (max-width: 991px) {
			margin-bottom: 20px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__post-title {
		color: #2f2f2f;
		margin-bottom: 24px;

		@media screen and (max-width: 991px) {
			font-size: 28px;
			margin-bottom: 16px;
		}

		@media screen and (max-width: 768px) {
			font-size: 24px;
		}

		@media screen and (max-width: 570px) {
			font-size: 20px;
		}
	}

	&__post-excerpt {
		margin-top: auto;
		font-size: 16px;
		line-height: 1.4;
		color: #2f2f2f;

		@media screen and (max-width: 768px) {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

.product-card {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;
	@extend .scale-hover-effect;


	@media screen and (max-width: 991px) {
		text-align: center;
		padding-bottom: 0;
	}

	&__thumb {
		margin-bottom: 16px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 991px) {
			margin-bottom: 12px;
		}

		img {
			max-height: 333px;
		}
	}

	&__title {
		font-family: $primary-font;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		color: #4ba495;
		margin-bottom: 8px;

		@media screen and (max-width: 1140px) {
			font-size: 18px;
		}

		@media screen and (max-width: 991px) {
			font-size: 16px;
		}
	}

	&__execrpt {
		font-family: $second-font;
		font-size: 16px;
		line-height: 1.4;
		color: #2f2f2f;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: 16px;

		@media screen and (max-width: 1140px) {
			font-size: 14px;
		}
	}

	&__download-btn {
		@extend .black-bg-hover-effect;

		border-radius: 8px;
		padding: 4px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.2;
		color: #2f2f2f;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		margin-top: auto;

		@media screen and (max-width: 1140px) {
			font-size: 14px;
			gap: 8px;
		}

		@media screen and (max-width: 470px) {
			gap: 0;
			font-size: 12px;
		}

	}
}
