.category-block {
	padding-top: 96px;
	padding-bottom: 96px;
	background-color: #eef7f5;

	&.category-block-slider {
		overflow-x: hidden;

		.category-block__slider-button-wrapper {
			display: flex;
			gap: 16px;

			@media screen and (max-width: 570px) {
				display: none;
			}
		}
	}

	@media screen and (max-width: 991px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 48px;
		color: #2f2f2f;

		@media screen and (max-width: 991px) {
			margin-bottom: 24px;
		}
	}

	&__category-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;

		@media screen and (max-width: 991px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media screen and (max-width: 670px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__category-item {
		aspect-ratio: 1 / 1;
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 24px;
		border-radius: 15px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media screen and (max-width: 991px) {
			padding: 16px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 70%), linear-gradient(to bottom, rgba(47, 47, 47, 0.4), rgba(47, 47, 47, 0.4));
		}
	}

	&__category-title {
		position: relative;
		z-index: 1;
		font-family: $primary-font;
		color: #f2f2f2;

		@media screen and (max-width: 1470px) {
			font-size: 26px;
		}

		@media screen and (max-width: 1200px) {
			font-size: 22px;
		}

		@media screen and (max-width: 1024px) {
			font-size: 20px;
		}

		@media screen and (max-width: 991px) {
			font-size: 18px;
		}

		@media screen and (max-width: 670px) {
			font-size: 16px;
		}

		@media screen and (max-width: 470px) {
			font-size: 14px;
		}
	}

	&__category-icon {
		position: relative;
		z-index: 1;
		width: 31px;
		height: 31px;
		object-fit: contain;
	}
}
