.category-page {
	&__banner {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		padding: 103px 0;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: 0.6;
			width: 100%;
			height: 100%;
		}
	}

	.breadcrumbs {
		color: #f2f2f2;
		margin-bottom: 20px;
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__content {
		background-color: #eef7f5;
	}
}
