.category-page {
	background-color: #eef7f5;

	&__banner {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		padding: 103px 0;
		position: relative;

		@media screen and (max-width: 991px) {
			padding: 66px 0;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: 0.6;
			width: 100%;
			height: 100%;
		}

		.breadcrumbs {
			color: #f2f2f2;
			margin-bottom: 20px;
		}
	}


	&__container {
		position: relative;
		z-index: 1;
	}

	&__content {
		padding-top: 64px;
		padding-bottom: 64px;

		@media screen and (max-width: 991px) {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	&__content-container {
		display: grid;
		grid-template-columns: 260px 1fr;
		gap: 24px;

		@media screen and (max-width: 991px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__products-container-inner {
		&.grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 13px;
			margin-bottom: 24px;

			@media screen and (max-width: 1440px) {
				grid-template-columns: repeat(3, 1fr);
				gap: 13px 16px;
			}

			@media screen and (max-width: 991px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	&__bottom-text {
		padding-top: 64px;
		padding-bottom: 128px;

		@media screen and (max-width: 991px) {
			padding-top: 24px;
			padding-bottom: 56px;
		}

		h3 {
			&:first-child {
				max-width: 960px;
				margin: 0 auto;
				margin-bottom: 64px;

				@media screen and (max-width: 991px) {
					margin-bottom: 32px;
				}
			}

			margin-bottom: 24px;
		}

		p {
			font-family: $second-font;
			font-size: 16px;
			line-height: 1.4;
			color: #2f2f2f;
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__not-fount-text {
		text-align: center;
	}
}
