.numbers-facts {
	padding: 64px 0;

	@media screen and (max-width: 768px) {
		padding: 32px 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1140px) {
			flex-direction: column;
		}
	}

	&__title {
		margin-bottom: 16px;

		br {
			@media screen and (max-width: 1140px) {
				display: none;
			}
		}
	}

	&__items-container {
		width: 100%;
		max-width: 840px;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;

		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}

	&__item {
		padding: 24px;

		@media screen and (max-width: 768px) {
			padding: 16px;
			display: grid;
			gap: 16px;
			grid-template-columns: 150px 1fr;
		}
	}

	&__item-title {
		font-size: 64px;
		line-height: 1;
		color: #4ba495;
		margin-bottom: 32px;

		@media screen and (max-width: 570px) {
			font-size: 48px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 0;
		}

		span {
			@media screen and (max-width: 570px) {
				font-size: 24px;
			}
		}
	}

	&__item-text {
		font-family: $primary-font;
		font-size: 32px;
		line-height: 1.2;
		color: #727272;

		@media screen and (max-width: 570px) {
			font-size: 20px;
		}
	}
}
