.page404 {
	background-image: linear-gradient(to right, #469a9e 0%, #5cc17d);
	padding: 120px 0;

	@media screen and (max-width: 1140px) {
		padding: 109px 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}
}
