.reviews {
	padding-top: 64px;
	padding-bottom: 64px;

	@media screen and (max-width: 768px) {
		padding-top: 24px;
		padding-bottom: 44px;
	}

	&__title-wrapper {
		padding-right: 16px;
		padding-left: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;

		@media screen and (max-width: 991px) {
			margin-bottom: 20px;
		}
	}

	&__slider-button-wrapper {
		display: flex;
		gap: 16px;

		@media screen and (max-width: 570px) {
			display: none;
		}
	}

	&__slider {
		.swiper-container {
			display: flex;
			align-items: stretch;
			/* Stretches items to fit the tallest one */
		}

		.swiper-slide {
			height: auto;
			/* Ensures slide content fills the available height */
		}
	}

	&__review-item {
		border-radius: 20px;
		padding: 48px;
		background-color: #eef7f5;
	}

	&__review-item-logo {
		margin-bottom: 24px;
		max-width: 106px;

		@media screen and (max-width: 470px) {
			margin-bottom: 16px;
		}
	}

	&__review-item-company-name {
		margin-bottom: 9px;
		color: #2f2f2f;

		@media screen and (max-width: 991px) {
			font-size: 28px;
		}

		@media screen and (max-width: 768px) {
			font-size: 24px;
		}

		@media screen and (max-width: 470px) {
			font-size: 20px;
		}
	}

	&__review-item-position {
		margin-bottom: 24px;
		font-family: $second-font;
		font-size: 14px;
		line-height: 1.3;
		color: #2f2f2f;

		@media screen and (max-width: 470px) {
			margin-bottom: 16px;
		}
	}

	&__review-item-text {
		font-family: $primary-font;
		font-size: 20px;
		line-height: 1.4;
		color: #2f2f2f;

		@media screen and (max-width: 991px) {
			font-size: 18px;
		}

		@media screen and (max-width: 768px) {
			font-size: 16px;
		}

		@media screen and (max-width: 470px) {
			font-size: 14px;
		}
	}
}
