.single-solution {
	background-color: #eef7f5;

	&__content-container {
		padding: 64px 0;
		display: grid;
		grid-template-columns: 260px 1fr;
		gap: 167px;

		@media screen and (max-width: 1470px) {
			gap: 70px;
		}

		@media screen and (max-width: 991px) {
			display: flex;
			flex-direction: column;
			gap: 24px;
			padding: 24px 0;
		}
	}

	&__content {
		padding: 0 16px;

		img,
		h2,
		h3,

		h5,
		h6 {
			margin-bottom: 32px;
		}

		h4 {
			margin-bottom: 16px;
		}

		p {
			font-family: $second-font;
			font-size: 16px;
			line-height: 1.4;
			color: #2f2f2f;
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		b,
		strong {
			font-weight: 700;
		}

		ol,
		ul {
			padding-left: 20px;
			font-size: 16px;
			line-height: 1.4;
			color: #2f2f2f;
			margin-bottom: 32px;
		}
	}

	&__bottom-wrapper {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 570px) {
			flex-direction: column;
			gap: 50px;
		}
	}

	&__nav {
		display: flex;
		gap: 8px;
	}

	&__nav-link {
		@extend .black-bg-hover-effect;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		line-height: 1;
		padding: 12px 16px;
		border-radius: 8px;
		border: solid 2px #2f2f2f;
	}

	.category-block {
		background-color: #fff;
	}

	&__sidebar {
		display: flex;
	}
}
