.single-product {
	background-color: #eef7f5;

	&__hero-content {
		padding-top: 8px;
		padding-bottom: 48px;
	}

	&__title-container {
		margin-bottom: 48px;
	}

	&__title {
		font-family: $primary-font;
		font-size: 32px;
		font-weight: bold;
		line-height: 1;
		color: #2f2f2f;
	}

	&__hero-content {
		display: grid;
		grid-template-columns: 643px 1fr 403px;
		align-items: flex-start;
		gap: 48px;
	}

	&__thumb {
		width: 100%;
		max-width: 643px;
	}

	&__content {
		width: 100%;
		max-width: 540px;

		p {
			margin-bottom: 24px;

			font-family: $second-font;
			font-size: 16px;
			line-height: 1.2;
			color: #727272;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h4 {
			margin-bottom: 24px;
			color: #2f2f2f;
		}
	}

	&__aside-info {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		border-radius: 8px;
		background-color: #fff;
	}

	&__aside-item-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	&__aside-info-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 320px;
		padding: 16px;
	}

	&__aside-info-item-icon {
		width: 56px;
		height: 56px;
		margin-bottom: 16px;
	}

	&__aside-info-item-title {
		font-family: $primary-font;
		font-size: 20px;
		font-weight: bold;
		color: #2f2f2f;
		margin-bottom: 8px;
	}

	&__aside-info-item-text {
		color: #2f2f2f;
		font-family: $second-font;
		font-size: 16px;
		line-height: 1.4;
		color: #727272;
	}

	&__document-title {
		flex-grow: 0;
		font-family: $second-font;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;
		color: #2f2f2f;
		margin-bottom: 16px;
	}

	&__document-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__document-file {
		@extend .black-bg-hover-effect;

		max-width: 250px;
		width: 100%;
		border-radius: 8px;
		border: solid 1px #b9b9b9;
		padding: 16px;
		display: inline-flex;
		gap: 24px;

		font-family: $second-font;
		font-size: 16px;
		line-height: 1.2;
		color: #2f2f2f;

		.btn-info-wrapper {
			display: flex;
			flex-direction: column;

			.name {
				font-weight: 700;
			}
		}
	}

	&__get-order {
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
	}
}
