.single-product {
	background-color: #eef7f5;

	&__title-container {
		padding-top: 8px;
		margin-bottom: 48px;

		@media screen and (max-width: 570px) {
			margin-bottom: 24px;
		}

		.breadcrumbs {
			margin-bottom: 16px;

			@media screen and (max-width: 570px) {
				font-size: 12px;
				gap: 6px;
				margin-bottom: 14px;
			}
		}
	}

	&__title {
		font-family: $primary-font;
		font-size: 32px;
		font-weight: bold;
		line-height: 1;
		color: #2f2f2f;
	}

	&__hero-content {
		display: grid;
		padding-bottom: 48px;
		grid-template-columns: 643px 1fr 403px;
		align-items: flex-start;
		gap: 48px;

		@media screen and (max-width: 1680px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media screen and (max-width: 1470px) {
			display: flex;
			flex-wrap: wrap;
		}

		@media screen and (max-width: 570px) {
			gap: 24px;
			padding-bottom: 24px;
		}
	}

	&__thumb {
		width: 100%;
		max-width: 643px;

		@media screen and (max-width: 1470px) {
			width: 50%;
		}

		@media screen and (max-width: 1470px) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__content {
		width: 100%;
		max-width: 540px;

		@media screen and (max-width: 1470px) {
			width: 50%;
		}

		@media screen and (max-width: 1470px) {
			width: 100%;
			max-width: 100%;
		}

		p {
			margin-bottom: 24px;

			font-family: $second-font;
			font-size: 16px;
			line-height: 1.2;
			color: #727272;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h4 {
			margin-bottom: 24px;
			color: #2f2f2f;
		}
	}

	&__aside-info {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		border-radius: 8px;
		background-color: #fff;

		@media screen and (max-width: 1470px) {
			margin: 0 auto;
		}

		@media screen and (max-width: 570px) {
			width: 100%;
			margin: 0;
			padding: 16px;
			gap: 16px;
		}
	}

	&__aside-item-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	&__aside-info-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 320px;
		padding: 16px;

		@media screen and (max-width: 570px) {
			padding: 14px;
		}
	}

	&__aside-info-item-icon {
		width: 56px;
		height: 56px;
		margin-bottom: 16px;

		@media screen and (max-width: 570px) {
			margin-bottom: 14px;
		}
	}

	&__aside-info-item-title {
		font-family: $primary-font;
		font-size: 20px;
		font-weight: bold;
		color: #2f2f2f;
		margin-bottom: 8px;
	}

	&__aside-info-item-text {
		color: #2f2f2f;
		font-family: $second-font;
		font-size: 16px;
		line-height: 1.4;
		color: #727272;
	}

	&__document-title {
		flex-grow: 0;
		font-family: $second-font;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;
		color: #2f2f2f;
		margin-bottom: 16px;

		@media screen and (max-width: 570px) {
			margin-bottom: 14px;
		}
	}

	&__document-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__document-file {
		@extend .black-bg-hover-effect;

		max-width: 250px;
		width: 100%;
		border-radius: 8px;
		border: solid 1px #b9b9b9;
		padding: 16px;
		display: inline-flex;
		gap: 24px;

		font-family: $second-font;
		font-size: 16px;
		line-height: 1.2;
		color: #2f2f2f;

		@media screen and (max-width: 570px) {
			padding: 14px;
		}

		.btn-info-wrapper {
			display: flex;
			flex-direction: column;
			font-size: 14px;

			.name {
				font-size: 16px;
				font-weight: 700;

				@media screen and (max-width: 570px) {
					font-size: 14px;
				}
			}
		}
	}

	&__get-order {
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
	}



	// Related block ****************

	&__related-block {
		background-color: #fff;
		padding: 64px 0;
		overflow-x: hidden;

		@media screen and (max-width:768px) {
			padding: 32px 0;
		}
	}

	&__related-slider-title {
		margin-bottom: 24px;

		@media screen and (max-width:768px) {
			margin-bottom: 16px;
		}
	}

	&__related-block-slider {
		@extend .breakout-right;
		@extend .swiper-same-height;


		.swiper-slide:not(:last-child) {
			padding-right: 16px;
			border-right: 1px solid #dcdcdc;
		}
	}

}
