.solutions-block {
	padding-top: 64px;
	padding-bottom: 64px;
	padding-right: 16px;
	padding-left: 16px;
	background-color: #eef7f5;

	@media screen and (max-width: 991px) {
		padding-top: 56px;
		padding-bottom: 32px;
	}

	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;

		@media screen and (max-width: 991px) {
			margin-bottom: 20px;
		}
	}

	&__slider-button-wrapper {
		display: flex;
		gap: 16px;

		@media screen and (max-width: 570px) {
			display: none;
		}
	}

	&__slider {
		.swiper-container {
			display: flex;
			align-items: stretch;
			/* Stretches items to fit the tallest one */
		}

		.swiper-slide {
			height: auto;
			/* Ensures slide content fills the available height */
		}
	}


	&__link-wrapper {
		display: flex;
		margin-top: 64px;

		@media screen and (max-width: 991px) {
			margin-top: 40px;
		}
	}

	&__link {
		margin: 0 auto;
	}
}
