@import 'utils/_reset.scss';
@import 'utils/_fonts.scss';
@import 'utils/_global.scss';
@import 'utils/_typography.scss';
@import 'utils/_modal_window.scss';

@import 'components/_header.scss';
@import 'components/_footer.scss';
@import 'components/_page404.scss';
@import 'components/_thank-you.scss';
@import 'components/_sitemap.scss';

@import 'components/_cards.scss';

@import 'components/_category-page.scss';
@import 'components/_sidebar.scss';
@import 'components/_single-product.scss';
@import 'components/_single-solution.scss';
@import 'components/_solutions-page.scss';

@import 'components/_hero-banner.scss';
@import 'components/_advantages.scss';
@import 'components/_category-block.scss';
@import 'components/_horizontal-banner.scss';
@import 'components/_solutions-block.scss';
@import 'components/_contact-us.scss';
@import 'components/_our-clients.scss';
@import 'components/_reviews.scss';
@import 'components/_about-us.scss';
@import 'components/_our-history.scss';
@import 'components/_numbers-facts.scss';
@import 'components/_big-about-us.scss';
@import 'components/_block-content.scss';

// Minimal boilerplate styles. Add project styles in components/ as needed.
