@import 'utils/_reset.scss';
@import 'utils/_fonts.scss';
@import 'utils/_global.scss';
@import 'utils/_typography.scss';
@import 'utils/_modal_window.scss';

@import 'components/_header.scss';
@import 'components/_hero-banner.scss';
@import 'components/_advantages.scss';
@import 'components/_category-block.scss';
@import 'components/_horizontal-banner.scss';
@import 'components/_solutions-block.scss';
@import 'components/_contact-us.scss';

// Minimal boilerplate styles. Add project styles in components/ as needed.
